# This case study consists of 1000 marks and the solution file is expected to be submitted in the upcoming session for evaluation.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset chipotle.tsv.

https://s3.amazonaws.com/acadgildsite/course/masteringdatascience/session8/chipotle.tsv

Read using pd.read_csv

In [2]:
path=r"https://s3.amazonaws.com/acadgildsite/course/masteringdatascience/session8/chipotle.tsv" #Provide path here
chipo = pd.read_csv(path, sep = '\t') #Read file using pandas

### Step 3. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 4. What is the number of observations in the dataset?

In [4]:
# Solution 1
chipo.shape[0]
  # entries <= 4622 observations

4622

### Step 5. What is the number of columns in the dataset?

In [5]:
chipo.shape[1]

5

### Step 6. Print the name of all the columns.

In [6]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 7. How is the dataset indexed?

In [7]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 8. Which was the most-ordered item? 

(Replace *** with proper answer)

In [8]:
c = chipo.groupby('item_name') #Group by item_name 
c = c.sum() #Get total items using sum
c = c.sort_values(by = ['quantity'], ascending= False) #Sort quantity in descending order
c.head(1)                     #Display the first

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 9. What was the most ordered item in the choice_description column?

In [9]:
#Same as above use choice_description
# Diet Coke 159

cd = chipo.groupby('choice_description') #Group by item_name 
cd = cd.sum() #Get total items using sum
cd = cd.sort_values(by = ['quantity'], ascending= False) #Sort quantity in descending order
cd.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 10. How many items were ordered in total?

In [10]:
chipo['quantity'].sum()

4972

### Step 11. Turn the item price into a float

#### Step 11.a. Check the item price type

In [11]:
chipo['item_price'].dtype

dtype('O')

#### Step 11.b. Change the type of item price

In [12]:
#Remove $ sign attched with item price
ts = lambda x: float(x[1:-1])
chipo['item_price'] = chipo['item_price'].apply(ts)

#### Step 11.c. Check the item price type

In [13]:
chipo['item_price'].dtype

dtype('float64')

### Step 12. How much was the revenue for the period in the dataset?

In [14]:
#here revenue  = quantity * item_price
revenue = (chipo['quantity']*chipo['item_price']).sum()
print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

### Step 13. How many orders were made in the period?

In [15]:
orders = chipo.order_id.value_counts().count()
orders

1834

### Step 14 What is the average revenue amount per order?

In [16]:
# Solution 1
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).agg({'revenue':'sum'})['revenue'].mean()
order_grouped
#Take Mean of order_grouped and select revenue column

21.394231188658654

### Step 15. How many different items are sold?

In [17]:
chipo.item_name.value_counts().count()

50

### Step 16. How many products cost more than $10.00? Please follow the comment.

Replace  **  with proper ans

In [43]:

# delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])

# select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]
#display(chipo_one_prod)
chipo_one_prod[['item_name','quantity']].item_name.nunique()

50

### Step 17. What is price of each item with most to least expensive? 
###### Select a data frame with only two columns item_name and item_price

In [24]:
# select only the item_name and item_price columns
price_per_item = chipo_one_prod[['item_name', 'item_price']]

# sort the values from the most to less expensive
price_per_item.sort_values(by = "item_price", ascending = False)

                                  item_name  item_price
606                        Steak Salad Bowl       11.89
1229                    Barbacoa Salad Bowl       11.89
1132                    Carnitas Salad Bowl       11.89
7                             Steak Burrito       11.75
168                   Barbacoa Crispy Tacos       11.75
39                            Barbacoa Bowl       11.75
738                       Veggie Soft Tacos       11.25
186                       Veggie Salad Bowl       11.25
62                              Veggie Bowl       11.25
57                           Veggie Burrito       11.25
250                           Chicken Salad       10.98
5                              Chicken Bowl       10.98
8                          Steak Soft Tacos        9.25
554                   Carnitas Crispy Tacos        9.25
237                     Carnitas Soft Tacos        9.25
56                      Barbacoa Soft Tacos        9.25
92                       Steak Crispy Tacos        9.25
664                             Steak Salad        8.99
54                               Steak Bowl        8.99
3750                         Carnitas Salad        8.99
21                         Barbacoa Burrito        8.99
27                         Carnitas Burrito        8.99
33                            Carnitas Bowl        8.99
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
44                       Chicken Salad Bowl        8.75
1653                    Veggie Crispy Tacos        8.49
16                          Chicken Burrito        8.49
1694                           Veggie Salad        8.49
1414                                  Salad        7.40
510                                 Burrito        7.40
520                            Crispy Tacos        7.40
673                                    Bowl        7.40
298                       6 Pack Soft Drink        6.49
10                      Chips and Guacamole        4.45
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
674       Chips and Mild Fresh Tomato Salsa        3.00
111     Chips and Tomatillo Red Chili Salsa        2.95
233      Chips and Roasted Chili Corn Salsa        2.95
38    Chips and Tomatillo Green Chili Salsa        2.95
3     Chips and Tomatillo-Green Chili Salsa        2.39
300     Chips and Tomatillo-Red Chili Salsa        2.39
191      Chips and Roasted Chili-Corn Salsa        2.39
0              Chips and Fresh Tomato Salsa        2.39
40                                    Chips        2.15
6                             Side of Chips        1.69
263                       Canned Soft Drink        1.25
28                              Canned Soda        1.09
34                            Bottled Water        1.09

### Step 18. Sort by the name of the item

In [25]:
chipo.item_name.sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

### Step 19. How many times were a Veggie Salad Bowl ordered?

In [26]:
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)

18

### Step 20. How many times people orderd more than one Canned Soda?

In [27]:
chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(chipo_drink_steak_bowl)

20