In [1]:
import pandas as pd
import numpy as np
import sys

1)Write a Python program which accepts a list named : randomList = ['a', 0, 2]. Use exception handling using try-catch which gives the output as:Output:

1)If the List element is a alphabet or string, the output will be 

The entry is a

Oops! <class 'ValueError'>occured. 

Next entry.

2)If the List element is “0”,the output will be

The entry is

0Oops! <class ' ZeroDivisionError’>occured. 

Next entry.

3)If the List element is and integer except 0,then output will be 

The entry is 2

The reciprocal of 2 is 0.5 // reciprocal of an integer

In [2]:
randomList = ['a', 0, 2]

for entry in randomList:
    try:
        print("The entry is", entry)
        r = 1/int(entry)
        break

    except:
        print("Oops!",sys.exc_info()[0],"occured.")
    print("Next entry.")
    print()

print("The reciprocal of",entry,"is",r)

The entry is a
Oops! <class 'ValueError'> occured.
Next entry.

The entry is 0
Oops! <class 'ZeroDivisionError'> occured.
Next entry.

The entry is 2
The reciprocal of 2 is 0.5

2)Array out of Bound ExceptionWrite a Python program to give exception “Array Out of Bound” if the user wants to access the elements beyond the list size(use try and except)

In [3]:
n = range(10)

def OutOfBoundIndex(value):
    try:
        for i in value:
            print(value[i])
            
    except:
        print('Array Out of Bound')

OutOfBoundIndex(21)

Array Out of Bound

3) Write a python module script that contains fib2() method to calculate the Fibonacci series till 1000 and save it as fibo.py.Note : The module created as fibo.py has to be placed in lib folder:For linux/ubuntu path = /home/anaconda/lib/python3For Windows path = C:\Users\Acadgild\Anaconda3\Lib

In [4]:
from fibo import fib2

In [5]:
fib2(1000)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [6]:
import os
os.chdir('C:\\Users\\tmutengwa\\Documents\\Acadgild')
os.getcwd()

'C:\\Users\\tmutengwa\\Documents\\Acadgild'

In [7]:
from palindrome import isPalindrome
isPalindrome()

Please enter your own String : rotor

This string is a Palindromic

In [8]:
class Cipher:
    key ='abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789'
    def __init__(self, offset, plaintext):
        self.plaintext = plaintext
        self.offset = offset
                
    def encryption(self, offset, plaintext):
                        
        """Encrypt the string and return the ciphertext"""
                          
        ciphertext = ''
        space =[]
        for i in plaintext:
            try:
                position = self.key.find(i)
                new_position= (position+offset)%len(self.key)
                ciphertext+= self.key[new_position]
                if i == (" "):
                    print(" ")
            except ValueError:
                ciphertext += i

        return ciphertext

    def decryption(self,offset, ciphertext):
        
        """Decrypt the string and return the plaintext"""
        
        decrypt = ''

        for i in ciphertext:
            try:
                pos = self.key.find(i)
                new_pos= (pos-offset)%len(self.key)
                decrypt+= self.key[new_pos]
            except ValueError:
                decrypt += i

        return decrypt


def main():
    try:
        obj = Cipher(31, 'TongaiNaisonMutengwa') 
        assert obj.offset in range(1,50)
        cipher = obj.encryption(obj.offset, obj.plaintext)
        print(cipher)
        decipher= obj.decryption(obj.offset, cipher)
        print(decipher)
    except AssertionError:
            print('Inset any value from 1 to 49')
            
            
if __name__=='__main__':
    main()

oTSLFNiFNXTShZYJSL1F
TongaiNaisonMutengwa

Get Data from the following link:
http://files.grouplens.org/datasets/movielens/ml-20m.zip
We will be using the following files for this exercise:

ratings.csv : userId,movieId,rating, timestamp

tags.csv : userId,movieId, tag, timestamp

movies.csv : movieId, title, genres

I.Read the dataset using pandas

In [9]:
ratings = pd.read_csv("C://Users//tmutengwa//Documents//acadgild//ml-20m//ratings.csv")
tags = pd.read_csv("C://Users//tmutengwa//Documents//acadgild//ml-20m//tags.csv")
movies = pd.read_csv("C://Users//tmutengwa//Documents//acadgild//ml-20m//movies.csv")


II. Extract the first row from tags and print its type.

In [10]:
tags.iloc[:1]

   userId  movieId          tag   timestamp
0      18     4141  Mark Waters  1240597180

In [11]:
tags.iloc[:1].dtypes

userId        int64
movieId       int64
tag          object
timestamp     int64
dtype: object

III. Extract row 0, 11, 2000 from tags DataFrame

In [12]:
tags.iloc[[0, 11, 2000]]

      userId  movieId                tag   timestamp
0         18     4141        Mark Waters  1240597180
11        65     1783      noir thriller  1368149983
2000     910    68554  conspiracy theory  1368043943

V.    Calculate descriptive statistics for the 'ratings' column of the ratings DataFrame. Verify using describe().

In [13]:
print('count ',ratings["rating"].count())
print('mean ',ratings["rating"].mean())
print('max ',ratings["rating"].max())
print('min ',ratings["rating"].min())
print('median ',ratings["rating"].median())
print('std ',ratings["rating"].std())
print('mode ',ratings["rating"].mode())

count  20000263
mean  3.5255285642993797
max  5.0
min  0.5
median  3.5
std  1.051988919275684
mode  0    4.0
dtype: float64

In [14]:
ratings["rating"].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

VI.   Filter out ratings with rating > 5

In [15]:
#ratings[ratings["rating"] > 5]
ratings[ratings["rating"] > 5].count()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [16]:
ratings[ratings["rating"] > 5]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

VII.Find how manynull values, missing values are present. Deal with them. Print out how many rows have beenmodified.

In [17]:
ratings['rating'].isnull().sum()

0

VIII.Filter out movies from the movies DataFrame that are of type 'Animation'.

In [18]:
animation = movies[movies['genres']== 'Animation']
animation.head()

      movieId                                    title     genres
2503     2588                         Cloudland (1998)  Animation
4906     5002                     Fritz the Cat (1972)  Animation
4907     5003  Nine Lives of Fritz the Cat, The (1974)  Animation
9455    27738          Cathedral, The (Katedra) (2002)  Animation
9989    32840                           Vincent (1982)  Animation

IX.Find the average rating of movies.

In [19]:
ratings.groupby('movieId')['rating'].mean()

movieId
1         3.921240
2         3.211977
3         3.151040
4         2.861393
5         3.064592
            ...
131254    4.000000
131256    4.000000
131258    2.500000
131260    3.000000
131262    4.000000
Name: rating, Length: 26744, dtype: float64

X.Perform an inner join of movies and tags based on movieId.

In [20]:
Movies = movies.merge(tags,on='movieId',how='inner')
Movies.head()

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1644,Watched,1417736680
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,computer animation,1183903155
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Disney animated feature,1183933307
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Pixar animation,1183934770
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,TÃ©a Leoni does not star in this movie,1245093573

XI.Print out the 5 movies that belong to the Comedy genre and have rating greater than 4

In [21]:
md = movies.merge(ratings,on='movieId',how='inner')
md.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,944919407
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,858275452
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,833981871
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,943497887
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,1230858821

XII.Split 'genres' into multiple columns.

In [22]:
#split the genres into multiple rows
def Split(df, column, sep='|', keep=False):
    
    indexes = list()
    new_values = list()
    df = df.dropna(subset=[column])
    for i, presplit in enumerate(df[column].astype(str)):
        values = presplit.split(sep)
        if keep and len(values) > 1:
            indexes.append(i)
            new_values.append(presplit)
        for value in values:
            indexes.append(i)
            new_values.append(value)
    new_df = df.iloc[indexes, :].copy()
    new_df[column] = new_values
    return new_df

movies = Split(movies,'genres')
movies.head()

   movieId             title     genres
0        1  Toy Story (1995)  Adventure
0        1  Toy Story (1995)  Animation
0        1  Toy Story (1995)   Children
0        1  Toy Story (1995)     Comedy
0        1  Toy Story (1995)    Fantasy

XIII.Extract year from title e.g. (1995).

In [23]:
movies['Year']=movies['title'].str.extract('\((\d\d\d\d)\)')
movies['title'] = movies['title'].str[:-7]
movies.head()

   movieId      title     genres  Year
0        1  Toy Story  Adventure  1995
0        1  Toy Story  Animation  1995
0        1  Toy Story   Children  1995
0        1  Toy Story     Comedy  1995
0        1  Toy Story    Fantasy  1995

XIV.Select rows based on timestamps later than 2015-02-01.

In [24]:
new_ratings = ratings.merge(movies,left_on='movieId', right_on='movieId',how='inner')

In [25]:
import time
new_ratings['timestamp'] = ratings['timestamp'].apply(lambda x: time.strftime('%Y-%m-%d', time.localtime(x)))

In [26]:
new_R = new_ratings.loc[new_ratings.timestamp > '2015-02-01' , :]
new_R.head()

      userId  movieId  rating   timestamp    title     genres  Year
3534    7311        2     1.0  2015-02-24  Jumanji  Adventure  1995
3535    7311        2     1.0  2015-02-24  Jumanji   Children  1995
3536    7311        2     1.0  2015-02-24  Jumanji    Fantasy  1995
3537    7334        2     3.0  2015-02-25  Jumanji  Adventure  1995
3538    7334        2     3.0  2015-02-24  Jumanji   Children  1995

XV.Sort the tags DataFrame based on timestamp.

In [27]:
tags.sort_values(by = 'timestamp', ascending ='False')
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078